body
{
    background-color: #ffffff;
    text-align: center;
}

h1
{
    color: #3399ff;
}

#txt_volts
{
    font-size: 22px;
    color: #3399ff;
    border: 2px solid #3399ff;
    border-radius: 6px;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}

#txt_volts :active
{
    border: 2px solid #3399ff;
}

button
{
    color: #ffffff;
    background-color: #3399ff;
}